<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a routerLink="picture" routerLinkActive="active" class="nav-link">Image List</a></li>
    <li class="nav-item"><a routerLink="add-image"  routerLinkActive="active" class="nav-link">Add Image</a></li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
 <router-outlet></router-outlet>
</div>




<footer class="footer">
  <div class="container">© 2020 Dernovyi Serhii</div>
</footer>
